<div
  class="img-background w-full h-150 flex justify-center items-center flex-col text-4xl font-black gap-2 text-center"
>
  <p>
    enjoy the best of <br />
    clean architecture with CAE
  </p>
  <div class="flex gap-2">
    <button hlmBtn variant="outline" class="bg-white">Get Started</button>
    <button hlmBtn variant="outline" class="bg-white">Learn CAE</button>
  </div>
</div>
<div class="home-container">
  <br />
  <p class="text-2xl font-black">what CAE can do?</p>
  <br />
  <hlm-carousel class="w-full max-w-xs h-20">
    <hlm-carousel-content>
      @for (item of carrousel; track item) {
      <hlm-carousel-item>
        <div class="p-1 flex flex-col gap-5">
          <div>
            <p class="font-black">{{ item.title }}</p>
            <p>
              {{ item.description }}
            </p>
          </div>
          <section hlmCard>
            <div
              hlmCardContent
              class="flex items-center justify-center p-6 aspect-video"
            >
              <img [src]="item.imageSrc" />
          </div>
          </section>
        </div>
      </hlm-carousel-item>
      }
    </hlm-carousel-content>
    <button hlm-carousel-previous></button>
    <button hlm-carousel-next></button>
  </hlm-carousel>
</div>
